#projects {
  background-color: $palette-black;

  padding-bottom: 70px;

  @include breakpoint($breakpoint-tablet--large) {
    padding-bottom: 30px;
  }

  .hero__cta--mobile {
    display: none;
    text-align: center;

    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }
  }
}

.projects {
  &__marquee {
    margin-top: 70px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 30px;
    }
  }
}
