#projects {
  overflow: hidden;
  background-color: $palette-black;

  margin-bottom: -30px;
  padding-bottom: 70px;

  @include breakpoint($breakpoint-laptop--medium) {
    margin-bottom: -75px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding-bottom: 30px;
  }

  .hero__cta--mobile {
    display: none;
    text-align: center;

    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }

    .button-outline {
      border-color: #ffffff;
    }
  }
}

.projects {
  &__marquee {
    margin-top: 70px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 30px;
    }
  }
}
