#price-header {
  background-color: $palette-black;
  color: $text-white;

  margin-bottom: 60px;

  @include breakpoint($breakpoint-laptop--large) {
    margin-bottom: 20px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    color: $text-black;
    background-color: $palette-white;
  }
}

.price-header {
  padding-top: 40px;

  background: url("../img/page/price/background.svg") no-repeat;
  background-position-x: right;
  background-position-y: bottom;

  &__title {
    margin-bottom: 70px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 40px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;

      margin-bottom: 15px;
      font-weight: $weight-Bold;
    }

    &--mobile {
      display: none;

      @include breakpoint($breakpoint-mobile--large) {
        display: block;
      }
    }
  }

  &__promotions {
    position: relative;
    bottom: -80px;

    margin-top: -80px;

    @include breakpoint($breakpoint-mobile--large) {
      position: static;
      margin-top: 0;
    }
  }
}
