#price-content {
  padding-top: 120px;

  @include breakpoint($breakpoint-tablet) {
    padding-top: 90px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding-top: 0;
  }
}

.price-content {
  &__head {
    @include breakpoint($breakpoint-mobile--large) {
      padding-top: 20px;
      padding-bottom: 15px;

      color: $text-white;
      background-color: $palette-black;
    }

    .container:nth-child(2) {
      @include breakpoint($breakpoint-tablet) {
        max-width: 540px;
        padding: 0;
      }
    }
  }

  &__title {
    margin-bottom: 40px;
    text-align: center;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 45px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 32px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 15px;

      text-align: left;
      font-size: 24px;
      font-weight: $weight-Black;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: visible;

    @include breakpoint($breakpoint-tablet) {
      padding: 0 20px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      justify-content: flex-start;
      overflow: auto;

      padding-bottom: 15px;
    }
  }

  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-size: 24px;
    cursor: pointer;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 28px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 18px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      min-width: 150px;

      border: 1px solid $palette-white;
      border-radius: $border-radius-small;

      padding: 12px 24px;

      font-size: 16px;
    }

    &:not(:last-child) {
      @include breakpoint($breakpoint-mobile--large) {
        margin-right: 10px;
      }
    }

    @media (hover: hover) {
      &:hover {
        .price-content__icon {
          transform: scale(0.9);
        }
      }
    }

    svg {
      overflow: visible !important;
    }

    &--active {
      font-weight: $weight-Medium;

      @include breakpoint($breakpoint-mobile--large) {
        background-color: $palette-white;
        color: $text-black;

        font-weight: $weight-Bold;
      }

      .price-content__icon {
        filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.25));
        transform: none !important;

        .background {
          fill: $palette-white;
        }

        .figure {
          fill: $palette-orange;
        }
      }
    }
  }

  &__icon {
    margin-bottom: 15px;
    width: 165px;
    height: 165px;

    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.161));

    transition: 0.3s ease;

    @include breakpoint($breakpoint-laptop--large) {
      width: 130px;
      height: 130px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      width: 125px;
      height: 125px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 90px;
      height: 90px;
    }

    @include breakpoint($breakpoint-tablet) {
      width: 80px;
      height: 80px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__info {
    width: 80%;
    margin: 60px auto 60px auto;

    color: #6b6b6b;

    text-align: center;
    font-size: $font-text;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 20px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 90%;
      font-size: 18px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
      margin: 20px auto 20px auto;

      text-align: left;
      font-size: 14px;
    }
  }

  &__slider {
    .col-12 {
      &:last-child {
        .price-card__picture {
          @include breakpoint($breakpoint-mobile--large) {
            transform: scaleX(1);
          }
        }
      }
    }
  }

  &__card {
    margin-bottom: 50px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 15px;
    }
  }

  &__button {
    display: block;
    margin: 0 auto 15px auto;
  }
}
