.price-card {
  position: relative;
  padding-bottom: 12px;

  border-radius: 7px 7px 5px 5px;
  overflow: hidden;
  text-align: center;

  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  @media (hover: hover) {
    &:hover {
      .price-card__picture {
        transform: scale(0.95);
      }
    }
  }

  @include breakpoint($breakpoint-mobile--large) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    height: 125px;
    text-align: left;

    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__title {
    width: 100%;

    padding-top: 15px;
    padding-bottom: 15px;

    background-color: $palette-orange;
    color: $text-white;

    font-size: $font-text;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 18px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      padding-left: 15px;
      font-size: 14px;
    }
  }

  &__picture {
    width: 100%;
    height: 278px;
    object-fit: contain;
    transition: 0.25s ease;

    @include breakpoint($breakpoint-laptop--large) {
      height: 226px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      height: 180px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      position: absolute;
      right: 0;
      bottom: -35px;

      width: 200px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      bottom: -40px;
      width: 180px;
    }

    @include breakpoint($breakpoint-mobile) {
      bottom: -45px;
      width: 160px;
    }

    &--mirror {
      @include breakpoint($breakpoint-mobile--large) {
        transform: scaleX(-1);
      }
    }
  }

  &__cost {
    position: relative;
    display: inline-block;

    padding-bottom: 3px;

    font-size: $font-text;
    font-weight: $weight-Bold;

    color: $text-orange;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 18px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-top: auto;
      margin-left: 15px;

      font-size: 12px;
      color: $text-black;
    }

    &--unknown {
      border-bottom: 2px solid $palette-orange;

      cursor: pointer;
      transition: 0.15s ease;

      @media (hover: hover) {
        &:hover {
          transform: translateY(-5px);
          border-color: transparent;
        }
      }
    }
  }
}
