.page {
  &__title {
    font-size: $font-headline-1;
    font-weight: $weight-Black;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-headline-1 - 7;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 32px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 24px;
    }
  }

  &__description {
    font-size: $font-text;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text - 4;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 18px;
    }
  }
}
