.text-scrolling {
  pointer-events: none;
  user-select: none;

  &__content {
    position: relative;
    display: block;

    animation: marquee 30s linear infinite alternate;
    white-space: nowrap;

    font-style: italic;
    font-weight: $weight-SemiBold;

    &--reverse {
      animation-direction: reverse;
    }

    &--large {
      color: $text-black;
      -webkit-text-stroke: 1px #a59a9a;

      font-size: 120px;

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 81px;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: 42px;
      }
    }

    &--medium {
      color: $text-black;
      -webkit-text-stroke: 1px $text-white;

      font-size: 80px;

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 48px;
        -webkit-text-stroke: 0.5px #ffffff;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: 27px;
      }
    }

    &--small {
      color: #888386;

      font-size: 60px;

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 36px;
      }

      @include breakpoint($breakpoint-tablet) {
        font-size: 18px;
      }
    }

    &--footer {
      color: $text-white;
      -webkit-text-stroke: 1px #aea3a3;

      font-size: 50px;

      @include breakpoint($breakpoint-tablet) {
        font-size: 24px;
      }
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
