.hero-mobile {
  position: relative;

  @include breakpoint($breakpoint-tablet--large) {
    margin-top: auto;
  }

  &__text {
    color: $text-orange;
    font-size: 18px;
    font-weight: $weight-Black;
  }

  &__button {
  }

  &__icon {
    position: absolute;
    right: 0;
    bottom: 0;

    width: 100px;

    @include breakpoint($breakpoint-mobile) {
      width: 70px;
    }
  }
}
