.link {
  transition: 0.15s ease;

  &--main {
    font-weight: $weight-Bold;
  }

  &--underline {
    text-decoration: underline;
  }

  &--orange {
    @media (hover: hover) {
      &:hover {
        color: $text-orange;
      }
    }
  }
}
