// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к подвалу сайта
// -----------------------------------------------------------------------------

#footer {
  background-color: $palette-black;
}

.footer {
  display: flex;
  justify-content: space-between;

  padding-top: 65px;
  padding-bottom: 105px;

  color: $text-white;

  @include breakpoint($breakpoint-tablet--large) {
    flex-wrap: wrap;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding-top: 50px;
    padding-bottom: 35px;

    line-height: 150%;
  }

  & > div {
    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
      text-align: center;
    }
  }

  &__contact,
  &__office {
    display: flex;
    flex-direction: column;
  }

  &__info,
  &__link,
  &__additional {
    font-size: 24px;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 20px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 18px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;

    font-weight: $weight-Light;

    @include breakpoint($breakpoint-mobile--large) {
      order: 1;
      margin-bottom: 20px;
    }
  }

  &__logo {
    width: 300px;
    margin-bottom: 40px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 250px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      width: 200px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
      max-width: 280px;

      margin: 0 auto 40px auto;
    }

    path,
    rect {
      fill: $palette-white;
    }
  }

  &__index,
  &__company {
    margin-bottom: 20px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 0;
    }
  }

  &__company span {
    font-weight: $weight-Regular;
  }

  &__contact {
    @include breakpoint($breakpoint-mobile--large) {
      order: 2;
      margin-bottom: 20px;
    }
  }

  &__social {
    margin-top: 25px;

    @include breakpoint($breakpoint-mobile--large) {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__office {
    @include breakpoint($breakpoint-tablet--large) {
      margin-top: 30px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__nav {
    @include breakpoint($breakpoint-mobile--large) {
      order: 3;
    }

    .footer__link--main {
      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }
    }

    .footer__additional {
      display: none;
      margin-top: 10px;
      margin-bottom: 20px;

      font-weight: $weight-Bold;

      @include breakpoint($breakpoint-mobile--large) {
        display: block;
      }
    }
  }

  &__additional {
    margin-top: 20px;
  }

  &__up {
    display: none;

    order: 4;
    margin: 30px auto 0 auto;

    @include breakpoint($breakpoint-mobile--large) {
      display: block;
    }
  }

  &__icon {
    width: 36px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 27px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      width: 36px;
    }
  }

  &__link {
    display: block;

    color: $text-white;
    line-height: 140%;

    a {
      color: $text-white;
    }

    &--main {
      margin-bottom: 40px;

      font-size: 28px;

      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 30px;
        font-size: 24px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 20px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        margin-bottom: 0;
      }
    }
  }
}
