// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: sticky;
  z-index: $z-index-header;
  top: 0;
  left: 0;

  padding: 20px 0;
  background-color: $palette-black;

  transition: 0.15s ease;
}

.header-inverted {
  background-color: $palette-white !important;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);

  .header__button {
    color: $text-black;
  }

  .header__nav .nav__link {
    color: $text-black;
  }

  .header__logo .invert {
    fill: $palette-black;
  }

  .header__callback a {
    @include breakpoint($breakpoint-tablet--large) {
      color: $text-black;
    }
  }
}

.header {
  display: flex;
  align-items: center;

  &__logo {
    width: 160px;
    margin-right: 65px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 115px;
      margin-right: 35px;
    }
  }

  &__nav {
    margin-right: 80px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-right: 55px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__callback {
    display: flex;
    flex-direction: column;

    margin-right: 35px;
    margin-left: auto;

    text-align: right;

    @include breakpoint($breakpoint-laptop--large) {
      margin-right: 25px;
      margin-left: auto;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-right: 15px;
    }

    a {
      color: $text-orange;
      font-size: 20px;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        color: $text-white;
      }

      @media (hover: hover) {
        &:hover {
          transform: translateX(5px);
        }
      }
    }
  }

  &__action {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__burger {
    margin-left: auto;

    @include breakpoint($breakpoint-tablet--large) {
      margin-left: 0;
    }
  }
}
