#seo-block {
}

.seo-block {
  &__title {
    margin-bottom: 45px;
    font-size: $font-headline-3;
    font-weight: $weight-Bold;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 30px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 30px;
      font-size: 27px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 20px;
      font-size: 21px;
    }
  }

  &__content {
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 0;
      padding: 0;
    }

    h3,
    h6 {
      font-weight: $weight-Medium;
    }

    h3 {
      font-size: $font-headline-3 - 2;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 27px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 24px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 21px;
      }
    }

    h4,
    h5 {
      font-size: 27px;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 24px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 21px;
      }
    }

    h4 {
      font-weight: $weight-Regular;
    }

    h5 {
      font-weight: $weight-Bold;
    }

    h6 {
      font-size: 24px;

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 21px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 18px;
      }
    }

    p,
    ul,
    ol {
      font-size: $font-text;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: $font-text - 4;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: $font-text - 6;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 16px;
      }
    }

    ul,
    ol {
      padding-left: 60px;

      @include breakpoint($breakpoint-tablet--large) {
        padding-left: 20px;
      }
    }

    li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    ul {
      list-style-type: disc;
    }
  }

  &__side {
    position: sticky;
    top: 110px;

    @include breakpoint($breakpoint-mobile--large) {
      position: static;
    }
  }

  &__image {
    width: 100%;
    margin-bottom: 35px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 20px;
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 35px;

    font-size: $font-text;
    color: #888888;

    transition: 0.2s ease;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text - 4;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-text - 6;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 20px;
    }

    @media (hover: hover) {
      &:hover {
        color: $text-orange;

        rect {
          fill: $text-orange;
        }

        path {
          stroke: $text-orange;
        }

        span::after {
          background-color: $text-orange;
        }
      }
    }

    span {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: 0;
        display: block;

        width: 100%;
        height: 2px;

        background-color: #888888;
        transition: 0.2s ease;

        @include breakpoint($breakpoint-tablet--large) {
          height: 1px;
        }
      }
    }
  }

  &__icon {
    width: 32px;
    height: 32px;

    margin-left: 15px;

    rect,
    path {
      transition: 0.2s ease;
    }

    @include breakpoint($breakpoint-laptop--large) {
      width: 24px;
      height: 24px;
    }
  }
}
