.modal-callback {
  &__text {
    margin-bottom: 35px;
    color: $text-gray;

    text-align: center;
    font-size: $font-text;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 18px;
    }
  }

  &__content {
    padding: 15px 35px 80px 80px;
  }

  &__form {
    position: relative;
    z-index: 2;
  }

  &__image {
    position: absolute;
    top: 55%;
    right: 0;

    width: 700px;

    transform: translateY(-50%);

    @include breakpoint($breakpoint-laptop--large) {
      width: 550px;
    }
  }
}
