.modal-promotions {
  .modal {
    &__title {
      margin-bottom: 60px;
      font-size: $font-headline-3;

      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 30px;
        font-size: $font-headline-3 - 4;
      }


      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 20px;
        text-align: center;
      }

      @include breakpoint($breakpoint-mobile--large) {
        margin-bottom: 10px;
        font-size: 20px;
        text-align: left;
      }
    }

    &__text {
      font-size: $font-text;
      color: $text-gray;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: $font-text - 4;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 18px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 14px;
      }
    }
  }
}
