.modal-promo {
  .modal {
    &__container {
      max-width: 400px;
      padding: 60px 45px;

      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
      border-radius: 20px;

      @include breakpoint($breakpoint-tablet) {
        max-width: 650px;
        padding: 40px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        padding: 40px 15px 40px 15px;
        text-align: center;
      }
    }

    &__close {
      top: 25px;
      right: 25px;

      width: 24px;
      height: 24px;

      path {
        stroke: $palette-orange;
      }
    }

    &__title {
      margin-bottom: 25px;

      font-size: 28px;
      font-weight: $weight-Medium;

      text-align: center;
    }

    &__text {
      font-size: 14px;
      font-weight: $weight-Regular;

      text-align: center;

      color: $text-gray;
    }

    &__image {
      position: absolute;
      top: 55%;
      right: -10px;

      width: 380px;

      transform: translateY(-50%);

      @include breakpoint($breakpoint-tablet) {
        position: static;
        margin: 10px auto 0 auto;
        transform: none;
      }

      @include breakpoint($breakpoint-mobile--large) {
        width: 330px;
        margin-top: 30px;
      }
    }
  }

  &--succes {
    .modal__title {
      margin-bottom: 5px;
    }

    .modal__text {
      font-weight: $weight-Black;
      font-size: 28px;

      color: $text-black;
    }
  }
}
