.hero-action-slider {
  @include breakpoint($breakpoint-mobile--large) {
    padding: 0 10px;
  }

  .swiper-wrapper {
    @include breakpoint($breakpoint-tablet) {
      justify-content: space-between;
    }
  }

  .swiper-slide {
    width: initial;

    @include breakpoint($breakpoint-mobile--large) {
      width: 100%;
    }

    &:not(:last-child) {
      margin-right: 60px;

      @include breakpoint($breakpoint-laptop--medium) {
        margin-right: 40px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-right: 0;
      }
    }
  }
}

.hero-action {
  &-next,
  &-prev {
    top: -8px;
    display: none;

    width: initial;
    height: initial;
    margin-top: 0;

    @include breakpoint($breakpoint-mobile--large) {
      display: flex;
    }

    &::after {
      transform: scale(0.2);
    }
  }

  &-prev {
    left: -25px;
  }

  &-next {
    right: -25px;
  }
}
