#blog-hero {
  position: relative;
  background-color: $palette-black;

  padding-top: 40px;
  padding-bottom: 60px;

  overflow: hidden;

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 20px;
    padding-bottom: 40px;
  }
}

.blog-hero-image {
  position: absolute;
  top: 0;
  right: 0;

  width: 60%;
  height: 100%;

  clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);

  background-image: url("../img/page/blog/hero.jpg");
  background-size: cover;

  @include breakpoint($breakpoint-tablet--large) {
    width: 50%;
  }

  @include breakpoint($breakpoint-tablet) {
    background: none !important;
    display: none;
  }
}

.blog-hero {
  position: relative;
  z-index: 3;
  color: $text-white;

  &__title {
    margin-bottom: 30px;

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 10px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      text-align: left;
    }
  }

  &__text {
    max-width: 440px;
    margin-bottom: 45px;

    @include breakpoint($breakpoint-tablet--large) {
      max-width: 320px;
      margin-bottom: 25px;
    }
  }

  &__button {
    width: 270px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 230px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 190px;
    }
  }
}
