#project {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;

  background-color: $palette-black;
  color: $text-white;

  overflow: hidden;

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 60px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding-top: 30px;

    .section__header {
      text-align: center;
    }
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding-bottom: 25px;
  }
}

.project {
  &__header {
    margin-bottom: 50px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 25px;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    margin-bottom: 25px;

    span {
      color: var(--accent-color);
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 20px;
      text-align: center;
    }
  }

  &__description {
    @include breakpoint($breakpoint-tablet--large) {
      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__background {
    position: absolute;
    z-index: 0;
    top: 40px;
    left: 50%;

    width: 99%;

    transform: translateX(-50%);
    pointer-events: none;

    @include breakpoint($breakpoint-tablet--large) {
      top: 30px;
    }

    @include breakpoint($breakpoint-tablet) {
      top: 20px;
      width: 90%;
    }
  }

  &__count {
    margin-bottom: 15px;

    font-size: 128px;
    font-weight: $weight-Medium;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 96px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 64px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 5px;
      font-size: 45px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 30px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 27px;
    }
  }

  &__goal {
    font-size: $font-text;
    color: var(--accent-color);

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text - 3;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 18px;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 16px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 14px;
    }
  }
}
