#result {
}

.result {
  &__gallery {
    margin-top: 40px;
  }

  &__picture {
    position: relative;

    width: 100%;
    height: 460px;

    overflow: hidden;
    border-radius: $border-radius-large;

    transition: 0.2s ease;

    @include breakpoint($breakpoint-laptop--large) {
      height: 530px !important;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      height: 430px !important;
    }

    @include breakpoint($breakpoint-tablet--large) {
      height: 280px !important;

      border-radius: $border-radius-medium;
    }

    &--large {
      height: 700px;

      @include breakpoint($breakpoint-laptop--large) {
        height: 550px;
      }
    }

    @media (hover: hover) {
      &:hover {
        img {
          transform: scale(1.05);
        }
      }
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}
