.portfolio-block {
  .portfolio-item {
    position: relative;

    &:hover {
      .portfolio-item__picture::after,
      .portfolio-item__content {
        opacity: 1;
        visibility: visible;
      }
    }

    &__picture::after,
    &__content {
      @include breakpoint($breakpoint-tablet) {
        opacity: 1;
        visibility: visible;
      }

      opacity: 0;
      visibility: hidden;

      transition: 0.2s ease;
    }

    &__picture {
      @include breakpoint($breakpoint-laptop--large) {
        height: 370px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        height: 295px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        height: 220px;
      }

      @include breakpoint($breakpoint-tablet) {
        height: 155px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        height: 120px;
        border-radius: $border-radius-medium;
      }

      @include breakpoint(max-width 360px) {
        height: 160px;
      }

      position: relative;

      height: 480px;

      border-radius: $border-radius-large;
      overflow: hidden;

      &::after {
        @include breakpoint($breakpoint-tablet) {
          display: none;
        }

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.78),
          rgba(0, 0, 0, 0.78)
        );

        transition: 0.2s ease;
      }
    }

    &__content {
      @include breakpoint($breakpoint-laptop--large) {
        padding: 35px 40px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        padding: 25px 30px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        padding: 20px;
      }

      @include breakpoint($breakpoint-tablet) {
        padding: 0;
      }

      @include breakpoint($breakpoint-tablet) {
        position: static;
        margin-top: 12px;

        color: $text-black;
      }

      position: absolute;
      top: 0;
      left: 0;

      max-height: var(--max-height);

      overflow: auto;
      padding: 50px 60px;

      color: $text-white;
    }

    &__title {
      @include breakpoint($breakpoint-laptop--large) {
        font-size: 27px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 15px;
        font-size: 20px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 2px;
      }

      margin-bottom: 20px;
      font-size: 32px;
    }

    &__info {
      @include breakpoint($breakpoint-tablet) {
        display: flex;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        font-size: 12px;
      }

      display: none;
      flex-wrap: wrap;
      color: $text-gray;

      font-weight: $weight-Medium;
      font-size: 14px;

      line-height: 150%;

      span {
        color: $text-orange;
        font-weight: $weight-Bold;
      }
    }

    &__wrapper {
      overflow: auto;
      padding-right: 20px;

      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }

    &__description {
      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 20px;
        font-size: 18px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 15px;
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 14px;
      }

      margin-bottom: 50px;
      font-size: 24px;
    }

    &__list .list__item {
      @include breakpoint($breakpoint-laptop--large) {
        font-size: 18px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 14px;
      }

      font-size: 20px;

      &:not(:last-child) {
        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 4px;
        }
      }
    }
  }
}
