.portfolio-block {
  .portfolio-item {
    position: relative;

    &:hover {
      .portfolio-item__picture::after,
      .portfolio-item__content {
        opacity: 1;
        visibility: visible;
      }

      .portfolio-item__label {
        visibility: hidden;
        opacity: 0;
      }
    }

    &__picture::after,
    &__content {
      @include breakpoint($breakpoint-tablet) {
        opacity: 1;
        visibility: visible;
      }

      opacity: 0;
      visibility: hidden;

      transition: 0.2s ease;
    }

    &__picture {
      @include breakpoint($breakpoint-laptop--large) {
        height: 250px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        height: 280px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        border-radius: 10px;
        height: 180px;
      }

      @include breakpoint($breakpoint-tablet) {
        height: 140px;
        margin-bottom: 10px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        height: 120px;
        border-radius: 6px;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        height: 100px;
      }

      position: relative;

      height: 360px;

      border-radius: $border-radius-large;
      overflow: hidden;

      &::after {
        @include breakpoint($breakpoint-tablet) {
          display: none;
        }

        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.78),
          rgba(0, 0, 0, 0.78)
        );

        transition: 0.2s ease;
      }
    }

    &__content {
      @include breakpoint($breakpoint-laptop--large) {
        padding: 35px 40px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        padding: 25px 30px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        padding: 20px;
      }

      @include breakpoint($breakpoint-tablet) {
        padding: 0;
      }

      @include breakpoint($breakpoint-tablet) {
        position: static;
        margin-top: 12px;

        color: $text-black;
      }

      position: absolute;
      top: 0;
      left: 0;

      max-height: var(--max-height);

      overflow: auto;
      padding: 30px 40px;

      color: $text-white;
    }

    &__title {
      @include breakpoint($breakpoint-laptop--large) {
        font-size: 21px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 15px;
        font-size: 20px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 2px;
      }

      margin-bottom: 20px;
      font-size: 27px;
    }

    &__info {
      @include breakpoint($breakpoint-tablet) {
        display: flex;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        font-size: 12px;
      }

      display: none;
      flex-wrap: wrap;
      color: $text-gray;

      font-weight: $weight-Medium;
      font-size: 14px;

      line-height: 150%;

      span {
        color: $text-orange;
        font-weight: $weight-Bold;
      }
    }

    &__wrapper {
      overflow: auto;
      padding-right: 20px;

      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }

    &__description {
      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 18px;
        font-size: 18px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        margin-bottom: 15px;
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 14px;
      }

      margin-bottom: 50px;
      font-size: 21px;
    }

    &__list .list__item {
      @include breakpoint($breakpoint-laptop--large) {
        font-size: 18px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 16px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        font-size: 14px;
      }

      font-size: 20px;

      &:not(:last-child) {
        @include breakpoint($breakpoint-tablet--large) {
          margin-bottom: 4px;
        }
      }
    }

    &__label {
      @include breakpoint($breakpoint-laptop--large) {
        padding: 4px 10px;
        font-size: 14px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 12px;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        top: 50%;
        right: 6px;
      }

      position: absolute;
      right: 10px;
      bottom: 25px;

      padding: 4px 14px;
      border-radius: 4px;
      background-color: #c4c4c4;

      font-weight: $weight-Medium;
      color: $palette-white;

      transition: 0.2s ease;

      &--blue {
        background-color: #7590f8;
      }

      &--green {
        background-color: #18a565;
      }

      &--purple {
        background-color: #c068f8;
      }

      &--orange {
        background-color: #ff8025;
      }
    }
  }
}
