.process-guarantee {
  .process-content.position-relative {
    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
    }

    .process-content__wrapper {
      position: relative;
      width: 100%;
    }

    .process-content__title {
      position: relative;
      z-index: 10;

      width: 30%;

      background-color: $palette-white;

      @include breakpoint($breakpoint-tablet--large) {
        width: 100%;
      }

      @include breakpoint($breakpoint-mobile--large) {
        text-align: center;
      }
    }
  }

  .process-slider--common {
    overflow: hidden;
  }

  .process-slider-controls--common {
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);

    pointer-events: none;
  }

  .process-slider-prev,
  .process-slider-next {
    pointer-events: auto;
  }

  .process__content {
  }

  .process-slider--feedback {
    @include breakpoint($breakpoint-tablet--large) {
      margin-bottom: 0;
    }
  }

  .process-slide__picture {
    position: relative;
    transition: 0.2s ease;

    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25);

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }
}
