#service-hero {
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: calc(100%);
  background-color: $palette-black;
  background-size: 1100px;

  margin-bottom: 85px;

  @include breakpoint($breakpoint-laptop--large) {
    background-size: 800px;
    margin-bottom: 55px;
  }

  @include breakpoint($breakpoint-laptop--medium) {
    margin-bottom: -50px;
    background-size: 650px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    margin-bottom: -80px;
    background-image: none !important;
  }

  @include breakpoint($breakpoint-mobile--large) {
    margin-bottom: -120px;
  }

  .container {
    position: relative;
    height: 100%;
  }

  .hero {
    &__wrapper {
      .button-outline {
        @include breakpoint($breakpoint-mobile--large) {
          display: none;
        }
      }

      @include breakpoint($breakpoint-tablet--large) {
        padding-bottom: 10px;
      }

      padding-bottom: 60px;
    }

    &__title {
      line-height: 1.15;
    }

    &__description {
      min-height: initial;
      padding-bottom: 45px;

      @include breakpoint($breakpoint-laptop--large) {
        padding-bottom: 30px;
      }

      @include breakpoint($breakpoint-mobile) {
        br {
          display: none;
        }
      }
    }

    &__cta {
      padding-top: 0;
      margin-bottom: 85px;

      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 55px;
      }

      @include breakpoint($breakpoint-tablet) {
        justify-content: flex-start;
      }

      @include breakpoint($breakpoint-mobile--large) {
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;

        margin-bottom: 30px;
      }

      .hero-mobile__icon {
        position: static;
      }
    }

    &__anchor {
      display: inline-flex;

      margin-bottom: 25px;

      color: $text-orange;
      font-size: 20px;
      font-weight: $weight-Bold;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 18px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }

      @media (hover: hover) {
        &:hover {
          svg {
            transform: translateY(5px);
          }
        }
      }

      svg {
        transition: 0.2s ease;
      }
    }

    &__motion {
      bottom: -150px;
      width: 1050px;

      @include breakpoint($breakpoint-laptop--large) {
        bottom: -120px;
        width: 780px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        right: -20px;
        bottom: -70px;
        width: 580px;
      }

      &--margin {
        bottom: -190px;

        @include breakpoint($breakpoint-laptop--large) {
          bottom: -140px;
        }

        @include breakpoint($breakpoint-laptop--medium) {
          bottom: -100px;
        }
      }
    }

    &__social {
      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 0;
        padding-bottom: 30px;
      }
    }

    .hero__mobile {
      display: none !important;

      @include breakpoint($breakpoint-mobile--large) {
        display: block !important;
      }
    }

    &--service {
      .hero__motion--gif {
        right: -80px;
        bottom: -183px;

        @include breakpoint($breakpoint-laptop--large) {
          right: -40px;
          bottom: -140px;
        }

        @include breakpoint($breakpoint-laptop--medium) {
          bottom: -110px;
        }
      }
    }
  }
}
