#service-advantage {
}

.service-advantage {
  @include breakpoint($breakpoint-laptop--medium) {
    width: 100%;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 120px;
  }

  width: 80%;
  margin: 0 auto;

  padding-top: 60px;
  padding-bottom: 60px;

  .row > div:not(:last-child) {
    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 96px;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100%;
    text-align: center;

    img {
      margin-bottom: 24px;
    }

    h3 {
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 20px;

      font-size: 40px;

      &::after {
        content: "";

        position: absolute;
        bottom: 0;
        left: 50%;

        width: 70px;
        height: 3px;

        border-radius: 100px;
        background-color: $palette-orange;

        transform: translateX(-50%);
      }
    }

    h4 {
      margin-bottom: 16px;

      text-transform: uppercase;

      font-weight: $weight-Regular;
      font-size: 18px;
    }

    p {
      color: $text-gray;
      font-size: 16px;
    }
  }
}
