.form {
  &__wrapper {
    display: inline-flex;
    align-items: center;

    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__info {
    display: block;

    color: $text-orange;
    font-size: 16px;

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 12px;
    }

    &--mobile {
      display: none;

      @include breakpoint($breakpoint-mobile--large) {
        display: block !important;
      }
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__privacy {
    color: $text-gray;
  }
}