.service-header {
  height: 540px;
  overflow: hidden;

  color: $text-white;
  background-color: $palette-black;

  margin-bottom: 50px;

  @include breakpoint($breakpoint-laptop--large) {
    height: 440px;
  }

  @include breakpoint($breakpoint-laptop--medium) {
    height: 340px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    height: 330px;
  }

  @include breakpoint($breakpoint-tablet) {
    height: initial;
    margin-bottom: 30px;
  }

  .container:last-child {
    @include breakpoint($breakpoint-tablet--large) {
      max-width: 100vw;
      padding: 0;
    }

    @include breakpoint($breakpoint-tablet) {
      max-width: 540px;
    }
  }

  &__title {
    margin-top: 35px;
    margin-bottom: 35px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 663px;
      margin-left: auto;
      margin-right: auto;
    }

    @include breakpoint($breakpoint-tablet--large) {
      text-align: left;
    }
  }

  &__tabs {
    @include breakpoint(max-width 991px) {
      overflow: scroll;
      padding-left: 15vw;
      padding-right: 15vw;
    }

    @include breakpoint(max-width 900px) {
      padding-left: 12vw;
      padding-right: 12vw;
    }

    @include breakpoint(max-width 850px) {
      padding-left: 10vw;
      padding-right: 10vw;
    }

    @include breakpoint($breakpoint-tablet) {
      margin-bottom: 40px;

      padding-left: 12px;
      padding-right: 12px;
      padding-bottom: 15px;
    }
  }
}
