.service-content-item {
  &__title {
    margin-bottom: 45px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    width: 45%;
  }

  &__gallery {
    width: 50%;
  }
}