.service-content-gallery {
  margin-bottom: 48px;

  &__item {
    border-radius: 20px;
    overflow: hidden;

    @include breakpoint($breakpoint-tablet) {
      border-radius: 15px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      border-radius: 10px;
    }
  }

  &__picture {
    width: 100%;
    aspect-ratio: 16 / 10;
  }
}
