.portfolio-body {
  .portfolio-item {
    margin-bottom: 20px;
    padding: 20px 20px 15px 20px;
    background-color: #f3f3f3;

    border-radius: 20px;
    cursor: pointer;

    transition: 0.2s ease;

    @include breakpoint($breakpoint-laptop--medium) {
      border-radius: 10px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding: 0;
      background-color: transparent;
    }

    @media (hover: hover) {
      &:hover {
        .portfolio-item__image {
          transform: scale(1.065);
        }
      }
    }

    &__picture {
      display: block;
      margin-bottom: 20px;

      height: 360px;

      border-radius: 20px;
      overflow: hidden;

      @include breakpoint($breakpoint-laptop--large) {
        height: 250px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        border-radius: 10px;
        height: 180px;
      }

      @include breakpoint($breakpoint-tablet) {
        height: 140px;
        margin-bottom: 10px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        height: 120px;
      }

      @include breakpoint($breakpoint-mobile--medium) {
        height: 100px;
      }
    }

    &__image {
    }

    &__title {
      margin-bottom: 10px;
      font-weight: $weight-Bold;
      font-size: $font-text;

      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 5px;
        font-size: 20px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 18px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 14px;
      }
    }

    &__footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__deadline {
      font-size: 20px;
      font-weight: $weight-Medium;

      color: #777777;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: 16px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        font-size: 14px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        font-size: 12px;
      }

      span {
        font-weight: $weight-Bold;
        color: $text-orange;
      }
    }

    &__more {
      height: 25px;

      @include breakpoint($breakpoint-laptop--medium) {
        transform: scale(0.8);
      }

      @include breakpoint($breakpoint-tablet) {
        display: none;
      }
    }

    &__content {
      display: none;
    }
  }
}
