.portfolio-header {
  position: relative;
  overflow: hidden;

  padding-bottom: 170px;

  background-color: $palette-black;
  color: $text-white;

  @include breakpoint($breakpoint-laptop--large) {
    padding-bottom: 140px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    padding-bottom: 100px;
  }

  @include breakpoint($breakpoint-tablet) {
    padding-bottom: 25px;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  &__background {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    width: 55%;

    clip-path: polygon(30% 0, 100% 0%, 100% 100%, 0% 100%);

    @include breakpoint($breakpoint-laptop--large) {
      right: -35%;
      width: 90%;

      clip-path: polygon(20% 0, 100% 0%, 100% 100%, 0% 100%);
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 14px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      right: -45%;
      width: 100%;
    }

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__title {
    padding-top: 70px;
    margin-bottom: 25px;
    font-size: 54px;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 48px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      margin-bottom: 10px;
      font-size: 36px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding-top: 40px;
    }

    @include breakpoint($breakpoint-tablet) {
      padding-top: 100px;
      text-align: left;
      font-size: 24px;
    }
  }

  &__text {
    font-size: 24px;

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 20px;
    }

    @include breakpoint($breakpoint-tablet) {
      font-size: 16px;
      color: #c1c1c1;

      br {
        display: none;
      }
    }
  }
}
