.portfolio-body {
  &__action {
    position: relative;
    z-index: 2;

    top: -110px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include breakpoint($breakpoint-laptop--large) {
      top: -90px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      top: -70px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      top: -50px;
    }

    @include breakpoint($breakpoint-tablet) {
      top: -160px;
      overflow: auto;
      padding-bottom: 15px;
    }
  }

  &__service {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-size: 26px;
    cursor: pointer;

    color: $text-black;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 24px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: 18px;
    }

    @include breakpoint($breakpoint-tablet) {
      min-width: 140px;

      border: 1px solid $palette-white;
      border-radius: $border-radius-small;

      padding: 12px 24px;

      font-size: 16px;

      color: $text-white;
    }

    &:not(:last-child) {
      @include breakpoint($breakpoint-tablet) {
        margin-right: 10px;
      }
    }

    &--active {
      font-weight: $weight-Bold;

      @include breakpoint($breakpoint-tablet) {
        background-color: $palette-white;
        color: $text-black;

        font-weight: $weight-Bold;
      }

      .portfolio-body__icon {
        filter: drop-shadow(5px 5px 6px rgba(0, 0, 0, 0.25));

        .background {
          fill: $palette-white;
        }

        .figure {
          fill: $palette-orange;
        }
      }
    }
  }

  &__icon {
    margin-bottom: 20px;
    width: 190px;
    height: 190px;

    filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.161));

    transition: 0.3s ease;

    @include breakpoint($breakpoint-laptop--large) {
      width: 150px;
      height: 150px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      width: 125px;
      height: 125px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 90px;
      height: 90px;
    }

    @include breakpoint($breakpoint-tablet) {
      display: none;
    }
  }

  &__grid {
    margin-bottom: 60px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 20px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      .row {
        @include breakpoint($breakpoint-mobile--large) {
          padding-left: 12px;
        }
      }

      .col-6:last-child {
        display: none;
      }
    }

    .row {
      @include breakpoint($breakpoint-mobile--large) {
        position: relative;
        top: -25px;
      }
    }

    .col-6 {
      margin-bottom: 20px;

      @include breakpoint($breakpoint-mobile--large) {
        margin-bottom: 10px;
        padding: 0 12px 0 0;
      }
    }
  }

  &__button {
    display: block;
    margin: 0 auto;

    @include breakpoint($breakpoint-mobile--large) {
      margin-top: -30px;
    }
  }
}
