#blog {
  margin-top: 30px;
}

.blog {
  &__title {
    margin-bottom: 30px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 20px;
      text-align: left;
    }
  }

  &__wrapper {
    margin-bottom: 65px;

    &--loading {
      pointer-events: none;
      animation-name: fading;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;

      @keyframes fading {
        0% {
          opacity: 0.6;
        }

        50% {
          opacity: 0.3;
        }

        100% {
          opacity: 0.6;
        }
      }
    }
  }

  > .blog__filters {
    .blog-filters__item {
      @media (hover: hover) {
        &:hover {
          box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
        }
      }
    }
  }

  &__button {
    display: block;
    margin: 0 auto 45px auto;
  }
}
