// Цветовая палитра блоков
$palette-white: #ffffff;
$palette-orange: #ff8025;
$palette-black: #0f0f0f;

// Цветовая палитра текста
$text-black: #0f0f0f;
$text-dark: #3e3e3e;
$text-gray: #8e8e8e;
$text-light-gray: #cbcbcb;
$text-orange: #ff8025;
$text-white: #ffffff;
