// Толщина шрифта
$weight-Thin: 100;
$weight-ExtraLight: 200;
$weight-Light: 300;
$weight-Regular: 400;
$weight-Medium: 500;
$weight-SemiBold: 600;
$weight-Bold: 700;
$weight-ExtraBold: 800;
$weight-Black: 900;

// Размеры шрифта
$font-headline-1: 55px;
$font-headline-2: 45px;
$font-headline-3: 32px;
$font-headline-4: 18px;
$font-text: 24px;

// Межстрочные расстояния
$line-height-0: 28px;
$line-height-1: 38px;
