// -----------------------------------------------------------------------------
// Фрагмент стилизации какой-то секции
// -----------------------------------------------------------------------------

#hero {
  background-image: url("../img/page/main/hero/bg/1.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: calc(100% - 109px);
  background-color: $palette-black;

  @include breakpoint($breakpoint-laptop--large) {
    background-size: 720px;
    background-position-y: calc(100% - 94px);
  }

  .container {
    position: relative;
    height: 100%;
  }
}

.hero {
  padding-top: 60px;

  @include breakpoint($breakpoint-laptop--large) {
    padding-top: 45px;
  }

  &__row {
    &--white {
      background-color: $palette-white;
    }
  }

  &__action {
    display: flex;
    align-items: center;

    margin-bottom: 50px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 40px;
    }
  }

  &__cta {
    padding-top: 30px;
  }

  &__service {
    color: $text-white;
    text-align: center;

    font-size: 23px;
    cursor: pointer;

    &--active {

    }

    &:not(:last-child) {
      margin-right: 60px;
    }

    @include breakpoint($breakpoint-laptop--large) {
      font-size: 20px;
    }
  }

  &__icon {
    margin-bottom: 10px;
    width: 100px;
    height: 100px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 85px;
    }
  }

  &__content {
    color: $text-white;
  }

  &__title {
    margin-bottom: 25px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 20px;
    }
  }

  &__description {
    padding-bottom: 110px;
  }

  &__motion {
    position: absolute;
    z-index: 0;
    right: -100px;
    bottom: -150px;

    width: 950px;

    pointer-events: none;

    @include breakpoint($breakpoint-laptop--large) {
      right: -30px;
      bottom: -120px;

      width: 680px;
    }
  }

  &__video {
    width: 100%;
  }
}
