.service-card {
  position: relative;

  height: 280px;
  overflow: hidden;

  background-color: $palette-black;
  border-radius: 24px;

  color: $text-white;
  cursor: pointer;

  @include breakpoint($breakpoint-laptop--large) {
    height: 220px;
  }

  @include breakpoint($breakpoint-laptop--medium) {
    height: 200px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    height: 140px;

    border-radius: $border-radius-medium;
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #424242;

    border-radius: 50%;

    transform: translateY(50%);

    transition: 0.5s ease;
  }

  @media (hover: hover) {
    &:hover::after {
      transform: scale(4);
    }
  }

  &__wrapper {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 32px;

    @include breakpoint($breakpoint-mobile--large) {
      padding: 16px;
    }
  }

  &__title {
    font-size: $font-headline-3;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-headline-3 - 4;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 24px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 16px;
    }
  }

  &__price {
    @include breakpoint($breakpoint-laptop--large) {
      font-size: 16px;
    }

    @include breakpoint($breakpoint-tablet) {
      flex-direction: column;
      align-items: flex-start;

      font-size: 12px;
    }

    display: flex;
    align-items: center;

    margin-top: auto;

    font-size: 20px;

    span {
      @include breakpoint($breakpoint-laptop--large) {
        font-size: 20px;
      }

      @include breakpoint($breakpoint-tablet) {
        margin-bottom: 4px;
        font-size: 14px;
      }

      margin-right: 6px;

      font-weight: $weight-Bold;
      font-size: $font-text;

      color: $text-orange;
    }

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text - 4;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: 18px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 12px;
    }
  }

  &__image {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;

    // width: 100%;
    max-width: 430px;

    height: 100%;
    object-fit: contain;

    @include breakpoint($breakpoint-laptop--large) {
      max-width: 290px;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      max-width: 225px;
    }

    @include breakpoint($breakpoint-mobile--large) {
      z-index: 3;
      max-width: 180px;
    }
  }
}
