#confidence {
  @include breakpoint($breakpoint-laptop--medium) {
    margin-top: 45px;
  }

  @include breakpoint($breakpoint-tablet--large) {
    margin-top: 95px;
  }

  @include breakpoint($breakpoint-tablet) {
    margin-top: 45px;
  }
}

.confidence {
  position: relative;
  overflow: hidden;

  padding-top: 50px;
  text-align: center;

  &__content {
    position: relative;
    z-index: 2;

    display: inline-flex;
    flex-direction: column;
    align-items: center;

    padding-top: 20px;
    padding-bottom: 20px;

    background: $palette-white;

    @include breakpoint($breakpoint-mobile--large) {
      padding-top: 0;
      padding-bottom: 0;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 100;
      top: 50%;

      width: 150px;
      height: 110%;

      transform: translateY(-50%);

      @include breakpoint($breakpoint-tablet--large) {
        width: 50px;
      }
    }

    &::after {
      left: -150px;

      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );

      @include breakpoint($breakpoint-tablet--large) {
        left: -50px;
      }
    }

    &::before {
      right: -150px;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );

      @include breakpoint($breakpoint-tablet--large) {
        right: -50px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-bottom: 10px;
    }
  }

  &__text {
    margin-bottom: 40px;

    @include breakpoint($breakpoint-laptop--large) {
      margin-bottom: 30px;
    }
  }

  &__button {
    @include breakpoint($breakpoint-mobile--large) {
      display: none;
    }
  }

  &__bg {
    position: absolute;
    top: 50%;
    left: 0;

    transform: translateY(-40%);

    @include breakpoint($breakpoint-mobile--large) {
      position: static;
      transform: none;
    }
  }

  &__infinite {
    display: flex;

    &:nth-child(2) {
      .confidence__partners {
        @include breakpoint($breakpoint-mobile--large) {
          animation-delay: 1s;
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include breakpoint($breakpoint-laptop--large) {
        margin-bottom: 5px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        margin-bottom: 0;
      }
    }

    &:last-child {
      @include breakpoint($breakpoint-mobile--large) {
        display: none;
      }
    }
  }

  &__partners {
    display: flex;
    animation: marquee 20s linear reverse infinite;
  }

  &__partner {
    width: 90px;
    margin-right: 35px;

    @include breakpoint($breakpoint-laptop--medium) {
      width: 75px;
    }
  }

  &__fade {
    &::before,
    &::after {
      content: "";
      position: absolute;
      z-index: 15;
      top: 50%;

      width: 150px;
      height: 100%;

      transform: translateY(-50%);

      @include breakpoint($breakpoint-tablet--large) {
        width: 50px;
      }

      @include breakpoint($breakpoint-tablet) {
        top: 80%;
        height: 50%;
      }
    }

    &::after {
      left: 0;

      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
    }

    &::before {
      right: 0;

      background: linear-gradient(
        270deg,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 100%
      );
    }
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
