.portfolio-slider-thumb {
  overflow: visible;

  @include breakpoint($breakpoint-tablet--large) {
    display: none;
  }

  .swiper-wrapper {
    align-items: flex-start;
  }

  .swiper-slide {
    border-radius: $border-radius-medium;
    pointer-events: initial !important;
    transition: 0.15s ease;

    &-thumb-active {
      box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.25);
      transform: translateY(-25px);
    }
  }
}
