.portfolio-slider-thumb {
  overflow: visible;

  &::before,
  &::after {
    content: "";
    position: absolute;
    z-index: 100;
    top: 50%;

    width: 350px;
    height: 100%;

    transform: translateY(-50%);

    pointer-events: none;

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &::after {
    left: -250px;

    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  &::before {
    right: -250px;

    background: linear-gradient(
      270deg,
      rgba(255, 255, 255, 1) 20%,
      rgba(255, 255, 255, 0) 100%
    );
  }

  @include breakpoint($breakpoint-tablet--large) {
    display: none;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    border-radius: $border-radius-medium;
    pointer-events: initial !important;
    transition: 0.15s ease;

    &-thumb-active {
      box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.25);
      transform: translateY(-25px);
    }
  }
}
