.assembly-slider {
  .swiper-slide {
    @include breakpoint($breakpoint-mobile--large) {
      width: 90% !important;
    }

    @include each(1) {
      width: 556px;

      @include breakpoint($breakpoint-tablet--large) {
        width: 50%;
      }
    }

    @include each(2) {
      width: 490px;

      @include breakpoint($breakpoint-tablet--large) {
        width: 50%;
      }
    }

    @include each(3) {
      width: 1030px;

      @include breakpoint($breakpoint-tablet--large) {
        width: 70%;
      }
    }
  }
}
