.process-slider {
  &--common {
    width: 85%;
    overflow: visible;

    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }
  }

  &--wide {
    .swiper-slide {
      width: 25%;

      @include breakpoint($breakpoint-laptop--large) {
        width: 30%;
      }

      @include breakpoint($breakpoint-tablet--large) {
        width: 40%;
      }

      @include breakpoint($breakpoint-tablet) {
        width: 420px;
        height: 250px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        width: 300px;
        height: 185px;
      }
    }
  }

  &--small {
    picture {
      height: 350px;

      border-radius: 10px;
      overflow: hidden;

      @include breakpoint($breakpoint-laptop--large) {
        height: 280px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        height: 180px;
      }
    }
  }

  &-controls {
    position: absolute;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &--common {
      top: 380px;

      @include breakpoint($breakpoint-laptop--large) {
        top: 240px;
      }
    }

    &--wide {
      top: 360px;

      @include breakpoint($breakpoint-laptop--large) {
        top: 260px;
      }

      @include breakpoint($breakpoint-laptop--medium) {
        top: 170px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        top: 220px;
      }

      @include breakpoint($breakpoint-mobile--large) {
        top: 150px;
      }
    }
  }

  &-prev,
  &-next {
    position: relative;
    width: initial;
    height: initial;

    @include breakpoint($breakpoint-laptop--large) {
      transform: scale(0.8);
    }

    @include breakpoint($breakpoint-laptop--medium) {
      transform: scale(0.7);
    }

    @include breakpoint($breakpoint-mobile--large) {
      transform: scale(0.45);
    }

    &::after {
      font-size: initial;
    }
  }

  &-prev {
    left: -90px;

    @include breakpoint($breakpoint-laptop--large) {
      left: -12px;
    }

    &--white {
      &::after {
        content: url("../img/icons/control/slider__prev--white.svg");
      }
    }

    &--orange {
      &::after {
        content: url("../img/icons/control/slider__prev--orange.svg");
      }

      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }
    }
  }

  &-next {
    right: -90px;

    @include breakpoint($breakpoint-laptop--large) {
      right: -12px;
    }

    &--white {
      &::after {
        content: url("../img/icons/control/slider__next--white.svg");
      }
    }

    &--orange {
      &::after {
        content: url("../img/icons/control/slider__next--orange.svg");
      }

      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }
    }
  }
}

.process-design {
  .process-slider--common {
    width: 60%;
    overflow: visible;

    @include breakpoint($breakpoint-tablet--large) {
      width: 100%;
    }

    .process-slide__item {
      @include breakpoint($breakpoint-laptop--medium) {
        height: 280px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        height: 250px;
      }

      @include breakpoint($breakpoint-tablet) {
        height: 170px;
      }
    }
  }
}
