.swiper-container-fade {
  & > .swiper-wrapper {
    & > .swiper-slide {
      visibility: hidden;
      transition: 0.3s ease !important;

      &-active {
        visibility: visible;
      }
    }
  }
}

.swiper {
  &-button-prev,
  &-button-next {
    outline: none;
    transition: all 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &-button {
    &-prev::after {
      content: url("../img/icons/control/slider__prev.svg");
    }

    &-next::after {
      content: url("../img/icons/control/slider__next.svg");
    }
  }

  &-pagination {
    position: static;
    margin-top: 30px;

    @include breakpoint($breakpoint-mobile--large) {
      margin-top: 15px;
    }

    &--gray {
      .swiper-pagination-bullet {
        width: 20px;
        height: 20px;
        margin: 0 22px !important;
        border: 1px solid #858585;

        background-color: transparent;

        @include breakpoint($breakpoint-laptop--large) {
          width: 13px;
          height: 13px;

          margin: 0 15px !important;
        }

        @include breakpoint($breakpoint-mobile--large) {
          width: 9px;
          height: 9px;

          margin: 0 10px !important;
        }

        &-active {
          background-color: #858585;
        }
      }
    }

    &-bullet {
      width: 10px;
      height: 10px;
      background-color: $text-light-gray;
    }

    &-bullet-active {
      background-color: $palette-orange;
    }
  }

  &--mobile {
    .swiper-wrapper {
    }
  }
}
