.swiper-container-fade {
  & > .swiper-wrapper {
    & > .swiper-slide {
      visibility: hidden;
      transition: 0.3s ease !important;

      &-active {
        visibility: visible;
      }
    }
  }
}

.swiper {
  &-button-prev,
  &-button-next {
    outline: none;
    transition: all 0.15s ease;

    @media (hover: hover) {
      &:hover {
        opacity: 0.6;
      }
    }
  }

  &-button {
    &-prev::after {
      content: url("../img/icons/control/slider__prev.svg");
    }

    &-next::after {
      content: url("../img/icons/control/slider__next.svg");
    }
  }

  &-pagination {
    position: static;
    margin-top: 30px;

    &-bullet {
      width: 10px;
      height: 10px;
      background-color: $text-light-gray;
    }

    &-bullet-active {
      background-color: $palette-orange;
    }
  }

  &--mobile {
    .swiper-wrapper {
    }
  }
}
