#callback {
  background: url("../img/section/callback/background.svg") no-repeat
    calc(50% + 550px) bottom;
  background-size: 700px;

  padding-bottom: 130px;

  @include breakpoint($breakpoint-laptop--large) {
    background-position-x: calc(50% + 350px);
  }
}

.callback {
  &__title {
    margin-bottom: 25px;
  }

  &__link {
    display: inline-block;
    margin: 15px 0 25px 0;

    font-size: 30px;
    font-weight: $weight-Medium;

    @include breakpoint($breakpoint-laptop--large) {
      margin: 8px 0 18px 0;
      font-size: 22px;
    }
  }

  &__form {
    margin-top: 15px;
  }
}
