.acr0matic {
  width: 64px;
  height: 64px;
  margin: 0 auto;

  &__wrapper {
    width: 100%;
    height: 100%;

    background-color: #18191c;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__icon {
    cursor: pointer;

    circle,
    path {
      transition: 0.2s ease;
      transform-origin: center center;
    }

    @media (hover: hover) {
      &:hover {
        .main {
          fill: #dd4545;
          transform: rotate(135deg);
        }
      }
    }
  }
}
