.list {
  &--feature {
    .list__item {
      font-size: 20px;
      color: $text-gray;

      @include breakpoint($breakpoint-laptop--large) {
        font-size: $font-text - 8;
      }

      &:not(:last-child) {
        margin-bottom: 15px;

        @include breakpoint($breakpoint-laptop--large) {
          margin-bottom: 10px;
        }
      }

      span {
        font-weight: $weight-Bold;
        color: $text-orange;
      }
    }
  }
}
