.section {
  padding-top: 95px;

  @include breakpoint($breakpoint-tablet--large) {
    padding-top: 45px;
  }

  @include breakpoint($breakpoint-mobile--large) {
    padding-top: 30px;
  }

  &__title {
    font-size: $font-headline-2;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-headline-2 - 9;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-headline-2 - 15;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 24px;
      text-align: center;
    }

    &--orange {
      color: $text-orange;
    }

    span {
      color: $text-orange;
    }
  }

  &__text {
    font-size: $font-text;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text - 4;
    }

    @include breakpoint($breakpoint-laptop--medium) {
      font-size: $font-text - 6;
    }

    @include breakpoint($breakpoint-mobile--large) {
      font-size: 16px;
    }
  }
}
